.D404 {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #FF6060;
    width: 90%;

    &__text {
        font-size: 36px;
    }
    
    &__link {
        color: #FF6060;
        text-decoration: underline #FF6060 ;
        font-size: 18px;
    }

    & h1 {
        font-size: 250px;
        font-weight: 700;
    }
}

@media  screen and (max-width:425px) {

.D404 {

    width: 90%;

    & h1 {
        font-size: 125px;
    }
    &__text {
        font-size: 18px;
        width: 80%;
        text-align: center;
    }
    &__link {
        font-size: 14px;
        width: 80%;
    }
}

}



