.D404_main {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #FF6060;
    margin: 150px;
}

.D404_main h1 {
    font-size: 250px;
    font-weight: 700;
}

.D404__text {
    font-size: 36px;
}

.D404__link {
    color: #FF6060;
    text-decoration: underline #FF6060 ;
    font-size: 18px;
}