body {
    font-family: "Montserrat", sans-serif;
  }
  
  main, header {
    margin: 40px 100px;
  }

  .banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .banner_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #FF6060;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
    width: 20%;
  }

  .banner_nav a {
    text-decoration: none;
    color: #FF6060;
    padding-right: 5%;
  }

  .banner_nav a:hover {
    text-decoration: underline;
  }
  
.banner_logo{
    width: 210px;
    height: 68px;
}

.footer_img {
    width: 100%;
    padding: 0;
    margin: 0;
}

.footer_img img {
    width: 100%;
    padding: 0;
    margin: 0;
}